.logo {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.7rem;
  font-weight: 700;

  color: #6d00bc;

  display: flex;
  align-items: center;
  gap: 3px;

  letter-spacing: -1px;
}

/*.logo span {
  color: #7b00ff;

  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.921),
    0 0 10px rgba(255, 255, 255, 0.656);
}*/

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}